/* structure des pages */
* {
    box-sizing: border-box;
    
}
/* GENERAL */
body {
    background: rgb(56, 2, 2);
    font-family: 'Konnect-Medium';
    margin: 0px;
}
.NeonEffect,
a.NeonButton:hover{
    color: #ffffff;
    text-shadow:
      0 0 6px rgba(255, 255, 255, 0.92),
      0 0 30px rgba(221, 226, 226, 0.34),
      0 0 12px rgba(95, 11, 57, 0.52),
      0 0 21px rgba(122, 5, 102, 0.548),
      0 0 34px rgba(114, 4, 114, 0.521),
      0 0 54px rgba(68, 5, 60, 0.548);

}
.Neon{
    border: 2px solid #fff;
    box-shadow:
      0 0 8px #fff,
      inset 0 0 8px #fff,
      0 0 16px rgba(95, 11, 57, 0.52),
      inset 0 0 16px rgba(122, 5, 102, 0.26),
      0 0 32px rgba(114, 4, 114, 0.432),
      inset 0 0 32px rgba(68, 5, 60, 0.39); 
}

header{
    color:rgb(255, 255, 255);
    
}
.container-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(39, 5, 5);
    text-decoration: none
}
/* CSS NAV */
.container-nav{
    flex-direction:row;
    justify-content:center;
    color: rgb(190, 185, 185);
}
a {
    text-decoration: none;
    color:rgb(226, 223, 223);
    position: relative;
    padding: 16px 15px;
    transition: all 0.2s;
}
/* CSS MAIN */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
}
.presentationContent{
    max-width: 75%;
    text-align: justify;
}
/* CSS NAV CONTACT */
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.profilePicture, .formulaireContact{
    max-width: 300px;
    width: 100%;
    height: 450px;
    transition: max-width 0.2s;
}
.profilePicture{
    background-image: url("../images/Killian-V1.jpg");
    background-size: cover;
    background-position: center;
}
.formulaireContact{
    text-align: center;
    background-color: rgb(39, 5, 5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 0.5px solid rgb(90, 89, 89);*/
}
.formulaireContact div{
    width: 80%;
}
button[type="submit"]{
    width: 35%;
    transition: background-color 0.5s ;
}
button[type="submit"]:hover{
    background-color: rgba(255, 255, 255, 0.589);
}
input,
select,
textarea {
    width: 100%;
}
input,
select,
button {
    color: white;
    background: rgba(255, 255, 255, 0.233);
    padding: 0.5rem;
    border-radius: 20px;
    border: 0px;
}
input::placeholder,
textarea::placeholder{
    color: white;
}
option{
    color:black;
}
textarea {
    resize: none;
    color:white;
    background: rgba(255, 255, 255, 0.233);
    border-radius: 10px;
    border: 0px;
}

/* CSS FOOTER */
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 5, 5);
}
.footdiv{
    border-right: 0.2px white solid;
}
footer div a img{
    filter: invert(1);
}
footer div{
    width: 300px;
}
/* élément de décoration */
.box-shadow-red {
    box-shadow: 2px 2px 24px rgb(88, 63, 50);
}
.box-shadow-grey{
    box-shadow: 2px 2px 24px rgb(39, 37, 37);
}
.border-radius-5 {
    border-radius: 10px;
}
.border-radius-10 {
    border-radius: 20px;
}
/* CLASS DONT'T REPEAT YOURSELF */
.m-8 {
    margin: 8px;
}
.m-16 {
    margin: 16px;
}
.m-32 {
    margin: 32px;
}
.m-b-16{
    margin-bottom: 16px;
}
.p-8 {
    padding: 8px;
}
.p-16 {
    padding: 16px;
}
.p-32 {
    padding: 56px;
}
.flex {
    display: flex;
}
.txt-al-center {
    text-align: center;
}
h5 {
    font-family: 'Konnect-Medium_Light';
}
h4{
    font-family: 'Konnect-Italic';
}
/* FONT-FACE */
@font-face {
    font-family: 'Konnect-Medium';
    src : url("../Font/Konnect/KonnectMedium.otf");
}
@font-face {
    font-family: 'Konnect-Medium_Light';
    src: url("../Font/Konnect/KonnectLight.otf");
}
@font-face {
    font-family: 'Konnect-Italic';
    src: url("../Font/Konnect/KonnectLightItalic.otf");
}
@media screen and (min-width: 960px){
    .profilePicture:hover, .formulaireContact:hover{
        max-width: 400px;
    }
}
/* MEDIA SCREEN HEADER */
@media only screen and (min-width:200px) {
    h1{
        font-size:110%;
    }
    
    a{
        font-size: small;
    }
}
@media only screen and (min-width: 601px) {
    h1{
        font-size: 120%;
    }

    a{
        font-size: medium;
    }
}
@media only screen and (min-width: 710px) {
    h1{
        font-size: 140%;
    }
    a{
        font-size: large;
    }
}
/* MEDIA SCREEN FOOTER*/
@media screen and (max-width: 960px){

    .footer{
        flex-direction: column;
        padding: 0;
    }

    .footdiv {
        flex-direction: row;
        border-right: 0px;

    }

}
@media screen and (max-width: 1000px) {

    .footdivLeft {
        flex-direction: row;
        border-left: 0px;
    }
}

